body {
    background-color: rgb(41, 49, 54);
}
h1 {
    text-align: center;
    color: white;
    font:  small-caps 4em 'Lucida Console', sans-serif;
    padding: 5px;
    margin: 5px;
    position: relative;
}
#head {
    margin: auto;
    text-align: center;
    width: 50%;
    border-bottom-style: groove;
    border-color: white;
}

#company {
    background-color: rgba(88, 255, 124, 0.644);
    margin-top: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    border: 0;
    padding:10px
    
}

.infoBox {
    position: absolute;
    inset: 0;
    background: rgba(0, 71, 71, 0.7);
    margin:auto;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.infoBox:target {
    display:flex;
}
.content {
    position: relative;
    background: rgb(199, 234, 255);
    padding: 1em 2em;
    border-radius: 4px;
    font:  small-caps 25px 'Lucida Console', sans-serif;
}
.content > p {
    font-size: 30px;
}
#shopcontent {
    width: 700px;
    height: 700px;
}
#shopoptions {
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width:70%;
    height:50%;
}
#shopoptions > div {
    height: 5em;
    padding-top: 40px;
    border: 5px solid black;
    color: white;
    background-color: #07848d;
    text-align: center;
    font: small-caps 20px 'Lucida Console', sans-serif;
}

#shopoptions > div:hover {
    background-color: #02b2be;
    cursor: pointer;
}
#name {
    margin-top: 20px;
    min-width: 100px;
    width: 55%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font:  small-caps 100px 'Lucida Console', sans-serif;
}
#name br {
    display: none
}

#moneydiv {
    margin-top: 20px;
    width: 55%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font:  small-caps 100px 'Lucida Console', sans-serif;
    padding: 5px;
    color: rgb(0, 255, 0);
}
#companyName:focus{
    box-shadow: 0 0 2px blue;
    background-color: grey;
    font:  small-caps 100px 'Lucida Console', sans-serif;
}
img {
    z-index: 1;
    width: 55%;
}
#highlight {
    border-radius: 50%;
    z-index: -1;
}
#shop {
    background: rgb(0, 102, 17);
    margin-top: 20px;
    width: 20%;
    margin-left: auto;
    margin-top: 100%;
    text-align: center;
    color: white;
    font:  small-caps 100px 'Lucida Console', sans-serif;
    position: absolute; 
    right:0;
    bottom:0;
    border-style: dashed;
    border-width: 5px;
}

#end {
    position: absolute; 
    background: rgb(0, 102, 17);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font:  small-caps 80px 'Lucida Console', sans-serif;
    left:0;
    right:0;
    bottom:0;
    border-style: dashed;
    border-width: 5px;
}

#end:hover {
    background-color: rgb(0, 206, 34);
    cursor: pointer;
} 

#shop:hover {
    background-color: rgb(0, 206, 34);
    cursor: pointer;
}
#dayCounter {
    text-align: center;
    color: rgb(255, 255, 255);
    font:  small-caps 100px 'Lucida Console', sans-serif;
    position:fixed; 
    left:1600px;
    top:120px;
    border-radius: 50%;
    padding: 40px;
    background-color: rgba(0, 167, 158, 0.644);
}
#event {
    color:white;
    position: absolute;
    left: 0;
    top: 200px;
    height: 745px;
    width: 350px;
    inline-size: 350px;
    overflow-wrap: break-word;
    overflow: scroll;
    overflow-x: hidden;
    border-style: solid;
    border-color: rgb(0, 168, 168);
}
#event::-webkit-scrollbar {
    width: 10px;
}

#event::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#event::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #07848d;
}

h2 {
    color:white;
    position: absolute;
    left: 25px;
    top: 125px;
    font:  small-caps 50px 'Lucida Console', sans-serif;
    margin: 10px;
    text-align: center;
    border-bottom-style: dotted;
}

#event > p {
    padding: 10px;
    margin-top: 5px;
    margin-left: 3px;
    border-left-style: solid;

}
